@model Employee
@{
    ViewBag.Title = "StronglyTypedView";
}

<h2>StronglyTypedView</h2>

<ul>
    <li>@Model.ID</li>
    <li>@Model.Name</li>
    <li>@Model.Phone</li>
    <li>@Model.Email</li>
</ul>